[submodule "backend"]
	path = backend
	url = https://github.com/Prosper-Mapepa/talent-hub-api.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Prosper-Mapepa/talent-hub-front.git
